@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.price-page {   
    display: flex;     
}

.price__part {   
    margin-left: 10px;
    width:1000px;
}

.price__title {  
    font-family: 'Comfortaa', cursive;  
    color: #1a4b39;
    margin: 40px 0 40px 90px;
}

.price__logo__image {
    position: absolute;
    right:50px;
    width:200px;
    height: 200px;
}

.price__epilation {
    margin:0;
    display: flex;
    justify-content: flex-start;    
}

.price__epilation__title { 
    font-family: 'Comfortaa', cursive;   
    color: #1a4b39;
    margin: 40px 0 10px 15px;
}

.price__name {
    font-family: 'Comfortaa', cursive;    
    list-style-type: none;
    margin:0 0 8px 0; 
}

.price__name::before {
    color:#69cca7;
    content: "✦";
    padding-right: 5px;
}

.price__name-carbon {
    font-family: 'Comfortaa', cursive;
    margin:0 0 8px 20px; 
}

.price__name-carbon::before {
    color:#69cca7;
    content: "✦";
    padding-right: 5px; 
}

.price__name-remove {
    font-family: 'Comfortaa', cursive;
    margin:0 0 8px 20px;
}

.price__name-remove::before {
    color:#69cca7;
    content: "✦";
    padding-right: 5px;
}

.price__name-consult {
    font-family: 'Comfortaa', cursive;
    margin:0 0 8px 20px;
}

.price__name-consult::before {
    color:#69cca7;
    content: "✦";
    padding-right: 5px;
}

.price__epilation__onezone {
    padding:0;
    width: 400px;
    margin:0 0 8px 20px;    
}

.price__epilation__complex {
    padding:0;
    width: 600px;
    margin:0 0 8px 20px;
}






