@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.authorization {
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.authorization-page {
    width: 700px;
    height: 500px;
    background-color:#FFE1F3;
    border:1px solid #573992;
    border-radius: 10px;
}

.logo {
    display:flex;
    justify-content: space-around;
}

.logo h1 {
    margin:0;
    padding: 70px 100px 0 150px;
    font-size: 38px;
    font-weight: bold;
    color: #573992;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.logo img {
    width:180px;
    height: 180px;
    border-radius: 10px;
}

.autorization-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.authorization-form h2, p {
    margin: 0 0 0 170px;
    font-size: 24px;
    font-weight: bold;
    color: #573992;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.authorization-form input {
    margin: 0 0 8px 160px;
    width: 350px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #573992;
    box-sizing: border-box;
    color: #573992;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.authorization-form p {
    padding:0;
    margin: 0 0 40px 370px;
    font-size: 18px;
    text-decoration: underline;
    color: #9299B8;
}

.authorization-form button {
    margin: 0 0 30px 160px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #573992;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    background-color: #F87CB8;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 28px;
    font-weight: bold;
    color: #FFE1F3;
    stroke-width: 1px;
    stroke: #573992;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 700px;
    height: 80px;
    background-color: #FFE1F3;
    border: 1px solid #573992;
    border-radius: 10px;
}


footer p, a {
    margin:0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #573992;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

