@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.authorization {
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.authorization-page {
    width: 700px;
    height: 530px;
    background-color:#bde8db;
    border:1px solid #1f5a44;
    border-radius: 10px;
}

.logo {
    display:flex;
    justify-content: space-around;
    margin-left: 0;
}

.logo__text {
    margin:0;
    padding: 70px 100px 10px 100px;
    font-size: 38px;
    font-weight: bold;
    color: #1f5a44;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.autorization-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.authorization-form__text {
    margin: 0 0 0 170px;
    font-size: 24px;
    font-weight: bold;
    color: #1f5a44;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.authorization-form__input {
    display:inline-block;
    margin: 0 0 10px 160px;
    padding-left:5px;
    width: 350px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #1f5a44;
    box-sizing: border-box;
    color: #1f5a44;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.password {
    display: flex;
}

.authorization-form__forgot__pass {
    display:inline-block;
    padding:20px 0 0 0;
    margin: 0 0 20px 10px;
    font-size: 16px;
    text-decoration: underline;
    color: #9299B8;
    font-weight: bold;
}

.authorization-form__button {
    position:absolute;
    bottom: 100px;
    left: 290px;
    margin: 0 0 30px 160px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #1f5a44;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    background-color: #69cca7;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);    
    font-weight: bold;
    color: #bde8db;
}

.authorization-form__button:disabled {
    background-color: #dbf6eb;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color:#9299B8;
    pointer-events: none;
}

.authorization-form__button a:-webkit-any-link{
    color:#1f5a44;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    transition: none;
}

.footer {
    position:absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 700px;
    height: 80px;
    background-color: #bde8db;
    border: 1px solid #1f5a44;
    border-radius: 10px;
}

.footer__text {
    margin:0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1f5a44;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.footer__link {
    margin:0;
}

.footer__link a:-webkit-any-link {
    display:inline-block;
    position:absolute;
    right: 100px;
    bottom:32px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight:bold;
    color: #1f5a44;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    outline: none;
    background-color: #bde8db;
    text-decoration: underline;
}


.hint-name {
    display:inline-block;
    margin: 1px 0 20px 160px;
    font-size:12px;
    color: #1f5a44;
}

.hint-pass {
    display:inline-block;
    margin: 1px 0 20px 160px;
    font-size:12px;
    color: #1f5a44;
}

.invisible {
    display: none;
}

