@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.menu-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:200px;
    height: 645px;
    background-color: #9299B8; 
    margin-right: 10px;   
}

.menu-page__menu {
    font-size: 44px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.menu-page__list {
    list-style-type: none;
}

.item {
    color:white;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    transition: all 0.3s linear;
    margin-bottom: 35px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

a:-webkit-any-link {
    color:white;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    bottom: 5px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    cursor: pointer;
    color:#573992;
}

.active {
    font-size: 28px;
    color:#FFE1F3;
}

.logOut {
    position:absolute;
    left:40px;
    bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 30px;
    outline: none;
    background-color: transparent;
    color:white;
    font-size:20px;
    font-weight: bold;
    border:1px solid white;
    border-radius: 10px;
}

.logOut:hover {
    font-size: 20px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    cursor: pointer;
    color:#573992;
    border:1px solid #573992;
}