@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.column {
    display:flex;
    flex-direction: column;
    margin-right: 10px;    
}

.column__day {    
    width: 140px;
    height: 65px;
    border: 1px solid #69cca7;
    border-radius: 10px; 
    background-color: #69cca7;
    color:white;
    text-align: center;
    margin-bottom: 5px;
}

.column__day__name {
    margin:0;
    margin-top: 5px;    
    font-size: 18px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.column__day__date {
    margin:0;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.column__schedule {
    margin: 0;
    width: 140px;
    height: 395px;
    border: 1px solid #69cca7;
    border-radius: 10px;
    background-color: #bde8d8;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.column__schedule__list {
    padding:0 0 0 1px;
    list-style: none;
    margin:0;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.active {
    background-color: #9299B8;
    color:white;
    font-size: 12px;
}