@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.registration {
    display:flex;
    justify-content: center;
}

.registration-page {
    width: 700px;
    height: 630px;
    background-color:#FFE1F3;
    border:1px solid #573992;
    border-radius: 10px;
}

.registration-logo {
    display:flex;
    justify-content: space-evenly;
}

.registration-logo__text {
    margin:0;
    padding: 70px 100px 0 140px;
    font-size: 38px;
    font-weight: bold;
    color: #573992;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.registration-logo__image {
    width:180px;
    height: 180px;
    border-radius: 10px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registration-form__text {
    margin: 0 0 0 170px;
    font-size: 24px;
    font-weight: bold;
    color: #573992;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
}

.registration-form__input {
    margin: 0 0 20px 160px;
    padding-left: 15px;
    width: 350px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #573992;
    box-sizing: border-box;
    color: #573992;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.registration-form__button {
    margin: 10px 0 30px 160px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #573992;
    font-family: 'Roboto', sans-serif;    box-sizing: border-box;
    outline: none;
    background-color: #F87CB8;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 22px;
    font-weight: bold;
    color: #FFE1F3;
    stroke-width: 1px;
    stroke: #573992;
}